.center {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; 
  }

.columnbox{
  display: flex; 
  width:100%;
  padding-left:20%;
}


.twocolumn {
  justify-content: center;
  align-items: center;
  float: left;
  width: 50%;
}
  
.threecolumn {
  justify-content: center;
  align-items: center;
  float: left;
  width: 33%;
} 

img[alt=drawing] { width: 200px; }
  